<div class="container responsive" style="padding-top: 0px">
    <div class="panel ">
        <div class="panel-heading">
            <h3 class="panel-title">Creer Piece</h3>
        </div>
        <div class="panel-body">
            <form (ngSubmit)="processForm()"> 
             
                <div id="Piece">
                    <div class="form group">
                      <label class="control-label column"  for="TypeMatriel">Type Matriel</label>
                      <input id="TypeMatriel" type="text" name="typeMatriel" class="form-control column1" [(ngModel)]="piece.typeMatriel" >
                    </div>   
                    <div class="form group">
                      <label class="control-label column" for="Marque">Marque</label>
                      <input id="Marque" type="text" name="marque" class="form-control  column1" [(ngModel)]="piece.marque">
                  
                    </div>
                    <div class="form group">
                      <label class="control-label column" for="Model">Model</label>
                      <input id="Model" type="text" name="model" class="form-control column1" [(ngModel)]="piece.model">
                  
                    </div>
                    <div class="form group">
                      <label class="control-label column" for="tarif">Tarif</label>
                      <input id="tarif" type="number" name="tarif" class="form-control column1" [(ngModel)]="piece.tarif" >
                    </div>
                   
                    
                  </div>
              <button type="submit" class="btn btn-success" value="Enregistrer"><span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer</button>
            
            </form>
            
        </div>
        
        <div [hidden]="!submitted">
          <div class="btn-group ">
            <h4>Vous avez Enregistrer correctement!  </h4>
          </div>
        </div>
    </div>
</div>
 
