
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Creer Encaissement</h3>
        </div>
        <div class="panel-body">
            <form (ngSubmit)="processForm()" #Enc="ngForm"> 
             
                <div class="form-group c10" style="display: inline-block;">
                    <label class="control-label column" for="moyenPayment" >Method Encaissement</label>
                   <!-- <input id="moyenPayment" type="text" name="moyenPayment" class="form-control column1" [(ngModel)]="payment.moyenPaiment">-->
                    <select id="moyenPayment" name="moyenPAyment" class="form-control column1" required  [(ngModel)]="payment.moyenPaiment" #moyenPaymen="ngModel">
              
 
                        <option  value="espèce" selected="selected" >Espèce</option>
                        <option  value="chèque"  >Chèque</option>
                        <option  value="visa"  >Visa</option>
                    </select>
                    <span class="help-block alert alert-danger" *ngIf="(!moyenPaymen.valid) && moyenPaymen.touched" > s'il vous plais slectionner un Moyen D'encaissement valide </span>

                    <!--
                    <div class="row">

                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         choisire Methode Payment<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left:20%;">
                            <input id="moyenPayment" type="text" name="moyenPayment" class="form-control column1" [(ngModel)]="payment.moyenPaiment">
                            
                            <div *ngFor="let pay of payments | autocomplete : payment.moyenPaiment:'moyenPaiment':2"  [ngClass]="isactive('pay')">
                              <a (click)="choose(pay)" (focus)="changeClass(pay)"> {{pay.moyenPaiment}}</a>
                            </div>
                      
                        </div>
                      </div>
                    </div>-->
                  </div>
              
            
                <div class="form-group c10" style="display: inline-block;">
                    <label class="control-label column" for="tarif" >total</label>
                    <input id="tarif" type="number" name="tarif" class="form-control column1" required minlength="1" maxlength="5"   [(ngModel)]="payment.tarif" #tarif="ngModel" (keyup)="changePaymentTarif($event)">
                    <span class="help-block alert alert-danger" *ngIf="(!tarif.valid) && tarif.touched" > s'il vous plais saisir tarif d'encaissement valide </span>
 
                </div>
                <div class="form-group">
                    <label class="control-label column" for="TotalHT"> total HT</label>
                     <input id="TotalHT" type="number" name="totalHT" class="form-control column1" [(ngModel)]="payment.totalHT" #TotalHT="ngModel"  minlength="1" maxlength="5" (keyup)="changePaymentTotal($event)">
                     <span class="help-block alert alert-danger" *ngIf="(!TotalHT.valid) && TotalHT.touched" > s'il vous plais saisir un TotalHT D'encaissement valide </span>

                  </div> 
                
                <div class="form-group">
                  <label class="control-label column" for="TVA">TVA</label>
                   <input id="TVA" type="number" name="tva" class="form-control column1" [(ngModel)]="payment.tva" required minlength="1" maxlength="2" required #TVA="ngModel" (keyup)="changePaymentTVA($event)">
                   <span class="help-block alert alert-danger" *ngIf="(!TVA.valid) && TVA.touched" > s'il vous plais un TVA valide </span>

                </div> 
                <div class="form-group">
                    <label class="control-label column" for="TotalTTC">TotalTTC</label>
                     <input id="TotalTTC" type="number" name="totalTTC" class="form-control column1" required minlength="1" maxlength="6" [(ngModel)]="payment.totalTTC" #TotalTTC="ngModel" >
                     <span class="help-block alert alert-danger" *ngIf="(!TotalTTC.valid) && TotalTTC.touched" > s'il vous plais saisir un TotalTTC valide </span>

                </div>
               
                <div class="form-group" >
                    <label class="control-label column"
                    for="discount">Reduction</label>
                      <input id="discount" 
                      
                      type="number" 
                      name="reduction" class="form-control column1" 
                      required minlength="1" maxlength="2" required
                      [(ngModel)]="payment.reduction" #reduction="ngModel"  >
                      <span class="help-block alert alert-danger" *ngIf="(!reduction.valid) && reduction.touched" > s'il vous plais saisir une reduction valide </span>

                    
                    
                    <!--  <div class="column1" style="display: inline-block; ">
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="margin-right: 0px; margin-left:0px;">
                                <div class="col-lg-9 col-xs-9 col-sm-9 col-md-9" style="margin-right: 0px; margin-left:0px;">
                                  
                                    <input id="discount" 
                                      style="  border-top-right-radius: 0px; margin-left: 10px;padding-left:0px; border-bottom-right-radius: 0px; margin-right:0px;"
                                      type="number" 
                                      name="reduction" class="form-control " 
                                      [(ngModel)]="payment.reduction" >
                                  
                                </div>
                                
                                <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3" style=" margin-left:0px; margin-left: 0px;">
                                    <select name="discounttype" class="form-control"[(ngModel)]="discounttype" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;margin-left:0px;">
                                      <option value="%">%</option>
                                      <option value="£">£</option> 
                                    </select>  
                                </div>  
                              </div>
                            </div>
                          </div>
                       
                       
                    </div> -->
                  
                </div>
                <div class="form-group">
                  <label class="control-label column" for="amount-paid ">Montant Payé  </label>
                  
                  <input id="amount-paid" 
                  type="number" 
                  name="montantPaye" 
                  class="form-control column1" 
                  required minlength="1" maxlength="6" required
                  (keyup)="changeMontantPaye($event)"
                  [(ngModel)]="payment.montantPaye" #montantpaye="ngModel">
                  
                  <span class="help-block alert alert-danger" *ngIf="(!montantpaye.valid) && montantpaye.touched" > s'il vous plais saisir un montant valide </span>

                </div>    
               
                
                <div class="form-group">
                  <label class="column control-label" for="commentaire">Reste A Payé</label>
                  <input id="commentaire" 
                  type="number" 
                  name="resteAPaye" 
                  class="form-control column1"
                  required minlength="1" maxlength="6"
                  [(ngModel)]="payment.resteAPaye" #resteApaye="ngModel" >
                  <span class="help-block alert alert-danger" *ngIf="(!resteApaye.valid) && resteApaye.touched" > s'il vous plais saisir un Reste A Payé valide </span>

                </div>
              <input type="submit" [disabled]="!Enc.valid" class="btn btn-success" value="save">
            
            </form>
            
        </div>
        
        <div [hidden]="!submitted">
          <div class="btn-group ">
            <h4>You submitted successfully!  </h4>
          </div>
        </div>
    </div>
</div>