<div class="container col-md-4 responsive" style="padding-top: 0px">

  <form (ngSubmit)="processForm(payment,article)"  >
      <div class="form group">
          <label for="payment"><h3> Payment </h3></label>
          <div id="payment">

           
    
        <div class="form group">
          <label for="PaymentMethod">Payment method</label>
          <input id="PaymentMethod" type="text" name="moyenPaiment" class="form-control" [(ngModel)]="payment.moyenPaiment">
      
        </div>
        <div class="form group">
          <label for="amount-paid">amount paid  </label>
          <input id="amount-paid" type="number" name="montantPaye" class="form-control" [(ngModel)]="payment.montantPaye" >
        </div>
        <div class="form group">
          <label for="discount">discount</label>
          <input id="discount" type="number" name="reduction" class="form-control" [(ngModel)]="payment.reduction" >
        </div>
        <div class="form group">
          <label for="commentaire">amount remains</label>
          <input id="commentaire" type="number" name="resteAPaye" class="form-control" [(ngModel)]="payment.resteAPaye" >
        </div>
        <div class="form group">
          <label for="codeSecurite">total Price</label>
          <input id="codeSecurite" type="number" name="tarif" class="form-control" [(ngModel)]="payment.tarif" >
        </div>
        <div class="form group">
            <label for="TotalHT"> total HT</label>
             <input id="TotalHT" type="number" name="totalHT" class="form-control" [(ngModel)]="payment.totalHT" >
        </div>
        <div class="form group">
            <label for="TotalTTC">TotalTTC</label>
             <input id="TotalTTC" type="number" name="totalTTC" class="form-control" [(ngModel)]="payment.totalTTC"  >
        </div>
        <div class="form group">
            <label for="TVA">TVA</label>
             <input id="TVA" type="number" name="tva" class="form-control" [(ngModel)]="payment.tva" >
        </div>
        <div class="form group">
            <label for="article-id">Article ID</label>
             <input id="article-id" type="text" name="idArticle" class="form-control" [(ngModel)]="article.idArticle" >
        </div>
        <!--<div class="form group">
            <label for="designation">Designation</label>
             <input id="designation" type="text" name="Designation" class="form-control" [(ngModel)]="payment.DemandeReparation" >
        </div>
        <div class="form group">
            <label for="designation">Designation</label>
             <input id="designation" type="text" name="Designation" class="form-control" [(ngModel)]="payment.Boutique" >
        </div>-->
</div>







      </div>
     <input type="submit" class="btn btn-success" value="save">
    
  </form>
  <div [hidden]="!submitted">
    <div class="btn-group ">
      <h4>You submitted successfully!  </h4>
    </div>
  </div>
</div>