
<div id="container">
    <div class="top-menu">
    <app-topmenu (navbartoggle)="togglednav($event)"></app-topmenu>
    </div>
    <div class="content">
    <div id="sidenav" class="sidenav" [ngClass]="navbar">
       
            <app-side-menu ></app-side-menu>
       
    </div>
    <div class="row" id="main" [ngClass]="main">
       
            <div id="page-wrapper">
                <div id="content">
                    <router-outlet data-toggle="#navcol-1"></router-outlet>
                    
                </div>
            </div>
     
    </div>
   </div>
</div>


