.column{
    white-space: pre-wrap; 
    width: 40%; 
    max-width: 40%;
    overflow: unset;
    text-overflow: ellipsis; 
   padding: 3px;
   margin: 3px;
  
 
}
.panel{
    margin:10px;
    padding:10px;
    width:100%;
    align-items: center;
    align-self: center;

}

.panel-heading{
   
    align-items: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    height: 50px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 20%;
}
.panel-title{
    overflow: initial;
    align-self: center;
   text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left:20%;
}

.panel-body{
    
    overflow: unset;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
  }
  .panel-body{
     
    overflow: unset;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;

  }
  .panel-heading>nav>a>h3{
      display: inline-block;
      white-space: normal; 
      width: 300px;
  }
  .panel-heading{
    box-shadow: 3px 3px grey;

  }
 /**/
 #tachRep-list{
    width: 100%;
}
.tachRep-list{
    width: 100%;
}
.item-List{
    float: left;
    background-attachment: fixed;
    background-position: relative;
    background-color:#eaecec;
    width: 45%;
    max-width:100% ;

    border: 5px;
    border-radius: 5px;
    border-color: thistle;
    box-shadow: 3px 3px grey;
    margin: 10px;
    padding: 10px;
    
   
}
.List-item{
   
    width: 100%;
  
    outline-width: 0px;
    
 margin-left:0px; 
 padding: 0px;
 border-radius: 5px;
 height: 100%;
}
.item-List:active,.item-List:focus,.item-List:hover {

    outline-color: aqua;
    outline-width: 2px;
    outline-style: double;
} 

.column1{
    white-space: pre-wrap; 
    width: 75%; 
    max-width: 75%;
    overflow: unset;
    text-overflow: ellipsis; 
   padding: 3px;
   margin: 3px;
  
 
}


.item-list-body{
   
   
    padding-top:0px;
    padding-bottom: 0px;
    margin: 0px ;
    padding: 2px 5px;  
    border-radius: 3px;
    background-color: #eaecec;
    box-shadow: 3px 3px 1px 1px  rgb(139, 130, 130);
  
}
.item-list-footer{
    
    width: 80px;
    align-self: center;
    align-items: left;  
    border-radius: 0px;
   margin-top:10px;
    box-shadow: 3px 3px 1px 1px  rgb(109, 107, 107);
  
}
.item-list-btn{
float: right;

}

.item-list-head{
    height: 40px;
    width: 100%;
    align-self: center;
    background-color:#3987cc;
    background-attachment: fixed;
    
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 1px 1px  rgb(109, 107, 107);
  
}
.dropdown-menu{
    width: max-content;
}
.dropdown-item{
    float:none;
    width: max-content;
 

}
ul>li>a{
    
    padding-left: 5px -20px;
}
li>a:hover{
    background-color: silver;
    width: 130px;
  
}
#tachRep-list{
    width: 100%;
}
#tachRep-list,#tacheRep-list:hover, #tacheRep-list:active ,#tacheRep-list:focus {
    width: 85%;
 
   
}
.tachRep-list{
    width: 100%;
    
}
#tachRep-list{
    width: 100%;
    overflow:hidden;
}
.table
{
    overflow:hidden;
}
tr{
    overflow:hidden;
}
td{
    overflow:hidden;
}
.item-list-head>h4, .item-list-head>h3{
text-align: center;
vertical-align: center;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}

:host >>>.panel>.panel-body>form>#client>.form-group{
    display: table-row;
    margin-bottom: 15px;
    width: 100%;
  }
  :host >>>#client>.form-group>.form-control{
margin-top: 15px;
}
.wrapper{
    width:100%;
}