<div class="container col-md-4 responsive" style="align-self:center;">
    
    <form (ngSubmit)="processForm(article)"  >
        <div class="form group">
          <label for="article"><h3> Article</h3></label>
          <div id="article">
            <div class="form group" >
              <label for="Marque">Marque</label>
              <div class="row" >
                <div class="col-lg-12 col-xs-12 col-sm-12">
                  <div class="dropdown">
                    <input id="Marque" for="dropdown-menu-marque" type="search" name="marque" data-toggle="dropdown" data-target="dropdown-menu-marque" class="form-control dropdown-toggle " [(ngModel)]="article.marque" aria-haspopup="true" aria-expanded="false">
              
              <ul id="dropdown-menu-marque" class=" dropdown-menu scrollmenu pre-scrollable list-group" role="menu" style=" max-height: 265px; overflow:scroll" role="menu" >
                
                 
                    <li *ngFor="let piece of listPiece | autocomplete : article.marque:'marque':3 "  [ngClass]="isactive('piece')" >
                      <a (click)="chooseMarque(piece)" (focus)="changeClass(piece)"> {{piece.marque}}
                    
                       </a>
                    </li>
                 
                </ul>
              
              </div>
                
              </div>
            </div>
            </div>

          <div class="form group" >
            <label for="Model">Model</label>
            <div class="row">
              <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="dropdown">
            <input id="Model" for="dropdown-menu-model" type="search" name="model" class="form-control dropdown-toggle "  data-toggle="dropdown" data-target="dropdown-menu-model" [(ngModel)]="article.model" aria-haspopup="true" aria-expanded="false">
            
            <ul class=" dropdown-menu scrollmenu pre-scrollable list-group" id="dropdown-menu-model" style=" max-height: 265px; overflow:scroll" role="menu" >
              
               
                  <li *ngFor="let piece of listPiece | autocomplete : article.marque:'marque':3 | autocomplete : article.model:'model':3 "  [ngClass]="isactive('piece')">
                    <a (click)="chooseModel(piece)" (focus)="changeClass(piece)"> {{piece.marque}} | {{piece.model}}
                  
                     </a>
                  </li>
                
              </ul>
              
              
            </div>
          </div></div>
          </div>








          <div class="form group">
            <label for="serialNumber">Numero de serie</label>
            <input id="serialNumber" type="text" name="serialNumber" class="form-control" [(ngModel)]="article.serialNumber" >
          </div>
          <!-- operateur search -->
          <div class="form group">
            <label for="operator">Operateur</label>
            <!--  <input id="operator" type="text" name="operateur" class="form-control" [(ngModel)]="article.operateur.code" >-->
            <div class="row" >
              <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="dropdown">
                  <input id="Marque" for="dropdown-menu-marque" type="search" name="operateur" data-toggle="dropdown" data-target="dropdown-menu-marque" class="form-control dropdown-toggle " [(ngModel)]="operateur.code" aria-haspopup="true" aria-expanded="false">
            
                  <ul id="dropdown-menu-marque" class=" dropdown-menu scrollmenu pre-scrollable list-group" role="menu" style=" max-height: 265px; overflow:scroll" role="menu" >
                    <li *ngFor="let operateur of operateurs | autocomplete : operateur.code:'code':2 "  [ngClass]="isactive('listArticle')" >
                      <a (click)="chooseOperateur(operateur)" (focus)="changeClass(operateur)"> {{operateur.code}}
                      </a>
                    </li>               
                  </ul>
                </div>
              
              </div>
            </div>

          </div>
          <div class="form group">
            <label for="commentaire">Commentaire</label>
            <input id="commentaire" type="textarea" name="commentaire" class="form-control" [(ngModel)]="article.commentaire" >
          </div>
          <div class="form group">
            <label for="codeSecurite">Code de securite</label>
            <input id="codeSecurite" type="text" name="codeSecurite" class="form-control" [(ngModel)]="article.codeSecurite" >
          </div>
          <div class="form group">
              <label for="designation">Designation</label>
               <input id="designation" type="text" name="designation" class="form-control" [(ngModel)]="article.designation" >
          </div>
         <!-- <div class="form group" [hidden]="hidden">
              <label for="livraison">Livraison</label>
               <input id="livraison" type="text" name="livraison" class="form-control" [(ngModel)]="article.livraison" >
          </div>-->
        </div>
      </div>
      <input type="submit" class="btn btn-success" value="save">
      
    </form>
  <!--
    <div [hidden]="!submitted">
      <div class="btn-group ">
        <h4>You submitted successfully!  </h4>
      </div>
    </div>-->
  </div>
 