<div class="container  responsive" style="padding-top: 0px">
  <div class="row">
    <div class="col-ms-12 col-xs-12 col-md-12 col-lg-12 ">

    <div class="panel panel-success">
      <div class="panel-heading">
        
            <nav class="navbar " >
              <a routerLink="../CreateClient" class="navbar-brand " ><h3 class="panel-title">Creer Article</h3></a>
            </nav>
         
      </div>
    <div class="panel-body">
    <form (ngSubmit)="processForm()" >
      <div class="form-group">
       
       
        <div id="Article">
          <div  class="form-group">
            <label class="control-label column" for="marque">Marque</label>
         <!--   <input id="marque"  type="text" name="marque"  autofocus="autofocus"  class="form-control column1" [(ngModel)]="article.marque"  > -->
            <select id="Marque" name="marque"  
            name="marque" 
          class="form-control column1" 
          required  [(ngModel)]="article.marque">
          
          <option  *ngFor="let piece of listPiece " [value]="piece.marque" selected  (select)="chooseMarque(piece)">{{piece.marque}}</option>

           
            
         </select>
          </div>
          <div class="form-group">
            <label class="control-label column" for="model">Model</label>
            <select id="model" name="model" class="form-control column1" required  [(ngModel)]="article.model">
              
            <option  *ngFor="let piece of listPiece " [value]="piece.model"  (select)="chooseModel(piece)">{{piece.model}}</option>
            </select>
          

          </div>
          <div class="form-group">
            <label class="control-label  column" for="operateur">Operateur</label>
           <!-- <input id="operateur" formControlName="nom" type="text" name="operateur" class="form-control column1"  [(ngModel)]="article.operateur" >-->
            <select id="model" name="model" class="form-control column1" required  [(ngModel)]="operateur.code">
              
              <option  value="ooredoo"  >ooredoo</option>
              <option  value="Telecome"  >Telecome</option>
              <option  value="orange"  >orange</option>
              
              </select>
            
          </div>
          <div class="form-group">
            <label class="control-label column" for="serialNumber">Numero de Série</label>
            <input id="serialNumber" type="text"   name="serialNumber" class="form-control  column1" [(ngModel)]="article.serialNumber" >

          </div>
          <div class="form-group">
            <label class="control-label column" for="codeSecurite">Code De Securité</label>
            <input id="codeSecurite" type="text"   name="codeSecurite" class="form-control  column1" [(ngModel)]="article.codeSecurite" >

          </div>
          <div class="form-group">
            <label class="control-label column" for="designation">Designation</label>
            <input id="designation" type="text"   name="designation" class="form-control  column1" [(ngModel)]="article.designation" >

          </div>

        
          <div class="form-group">
              <label class="control-label column" for="commentaire">Commentaire</label>
              <input id="commentaire" type="textarea" name="commentaire" 
               class="form-control column1" 
              [(ngModel)]="article.commentaire" >
            </div>
        </div>
      </div>
          <input type="submit" class="btn btn-success" value="save">
    
  </form>
</div>
</div>
  <div [hidden]="!submitted">
	  <div class="btn-group ">
		  <h4>You submitted successfully!</h4>
	  </div>
  </div>

</div>
</div>
</div>