/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
/*td,th{
padding: 10px;
width: auto;
position: relative;
}*/
.container{
    padding-top: 30px;
}
ul>li>a{
    cursor:pointer;
}/*
input{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    outline-width: 2px;
    outline-offset: 0px;
    border-radius: 5px;
    
}
input[type="text"]:active{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}
input[type="text"]:focus{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}
input[type="text"]:hover{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}
input[type="text"]:-ms-keyboard-active {
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}
input[type="text"]:-moz-focusring{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}*/
/*
input[type~="text"].ng-touched{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}*/
.box-raduis::backdrop{
    box-shadow: 3px 3px grey;
    border-radius:15px;

}
/*
input[type~="text"].ng-untouched.ng-dirty.ng-invalid:focus, input[type~="text"].ng-untouched.ng-dirty:active{
    border: 1px solid rgb(235, 63, 63);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
}*/

input.ng-invalid.ng-untouched.pristine{
    border:1px solid red;
}/*
input.ng-invalid.ng-touched:hover{
    border:1px solid red;
}
input.ng-invalid.ng-touched:active{
    border:1px solid red;
    box-shadow: 1px red;
}
input.ng-invalid.ng-touched:focus{
    border:1px solid red;
}*/
.ng-valid:not(form).ng-touched.ng-dirty, .ng-valid:not(form).required.ng-touched.ng-dirty  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form).ng-dirty.ng-touched  {
    border-left: 5px solid #a94442; /* red */
  }
 .form-control:focus{
    border: 1px solid rgba(201, 179, 170, 0.932);
    outline-style: outset;
    outline-color: yellow;
    border-radius: 5px;
    outline-width: 3px;
 }
.panel-success{
    background-color: #ffffff;
  margin: 0px 0% 0px 0%;
 
   align-self: center;

   border-radius:15px;
  /*  padding-right:20%;
    width: 160%;*/

}
.panel, .panel:hover, .panel:focus, .panel:active{
   /* border-radius:15px;*/
    background-color: #eaecec;
    
   margin-left: 0px;
   margin-top:20px;
    
    padding:20px ;
   
    box-shadow: 3px 3px grey;
  
}
.panel{
    border-radius:15px;
    box-shadow: 3px 3px grey;
}

/*
.panel:hover{
    box-shadow: 5px 5px rgb(56, 23, 201);
}*/

/*
 div:active,div:focus,div:hover,div:active>div,div:focus>div,div:hover>div {
    width:100%;
    height:500%;
    padding:10% 10% 10% 10%;
    background-attachment: fixed;
    backface-visibility: hidden;
    scrollbar-base-color: blue;
    background-color: rgba(155,125,216, 0.6);
    overflow: initial;
    block-overflow: inherit;
    
    }
    div:active>.panel,div:focus>.panel
    {
        width: 40%;
        height: 40%;
        
    }*/
    input[type=text]{
        color: brown;
        caret-color: brown;
       /* background-color: deepskyblue;*/
    }
    .show {display:block;}
    /*
    .label{
        font-size: 16px;
       
        width: 30%;
        float:left;
    }
    .form-control{
        width:70%;
     
            
    }*/
    header>nav>a{
        margin-bottom: 20px;
    }
    input{
        padding-left:20px;
        margin-left:20px;
      }
      
     
     
    .c1{
        width: 10%;
    }
    .c2{
        width: 20%;
    }
    .c3{
        width: 30%;
    }
    .c4{
        width: 40%;
    }
    .c5{
        width: 50%;
    }
    .c6{
        width: 60%;
    }
    .c7{
        width: 70%;
    }
    .c8{
        width: 80%;
    }
    .c9{
        width: 90%;
    }
    .c10{
        width: 100%;
    }
/**/    
.panel-heading{
    background-color: silver;
    align-items: center;
    border-radius: 10px;
    text-overflow: ellipsis; 

}
.panel{
    border-width:1px;
    border-color: white;
}
.panel-title{
    align-self: center;
   
}
.panel-heading{
    background-color:#337ab7;
   
}
  .panel-body{
    background-color: rgba(211, 211, 211, 0);
   
   /* box-shadow: 3px 3px grey;*/
  }
  .panel-heading>nav>a>h3{
  
      color: white;

  }
  .wrapper{
    width: 80%;
    padding-left:15px; 
}

/*///*/
@media (max-width: 900px){
    
    .sidenav, #navbar{
        width: 0px;
        margin: 0px;
        height: 0px;
        font-size: 10px;
    }
    .wrapper{
        width: 100%;
        padding: 15px 5px 5px 5px;
        margin: 0px;
        font-size: 10px;
    }
    .container,#main,#page-wrapper{
        width: 100%;
        padding: 15px 5px 5px 5px;
        font-size: 10px;
        margin-left: -30%;
    }
    body,label,.label-control,.form-control,column,column1, button,.btn,.btn-success{
        font-size: 10px;

    }
.panel,.panel-body{
    padding:2px;
    margin:5px;
    width:100%;
    font-size: 10px;
}
.panel-heading,.panel-title{
    font-size: 12px;
}
ul.nav.navbar-nav>li>a{
    font-size: 12px;
    text-decoration-style: solid;
    text-shadow: #337ab7; 
}
}
@media (max-width: 1000px){
    
    .sidenav, #navbar{
        width: 0px;
        margin: 0px;
        height: 0px;
        font-size: 11px;
    }
    .wrapper{
        width: 100%;
        padding: 15px 5px 5px 5px;
        margin: 0px;
        font-size: 11px;
    }
    .container,#main,#page-wrapper{
        width: 100%;
        padding: 15px 5px 5px 5px;
        font-size: 11px;
        margin-left: -30%;
    }
    body,label,.label-control,.form-control,column,column1, button,.btn,.btn-success{
        font-size: 11px;

    }
.panel,.panel-body{
    padding:2px;
    margin:5px;
    width:100%;
    font-size: 11px;
}
.panel-heading,.panel-title{
    font-size: 14px;
}
ul.nav.navbar-nav>li>a{
    font-size: 14px;
    text-decoration-style: solid;
    text-shadow: #337ab7; 
}
}